<div class="container mt-5 justify-content-center">
    <div class="row p-2 justify-content-center">
      <table class="table table-hover table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Telefono</th>
            <th scope="col" class="text-center">Usuario</th>
            <th scope="col" class="text-center">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row" class="text-center">{{ user._id }}</th>
            <td class="text-center">{{ user.name }}</td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">{{ user.phoneNumber }}</td>
            <td class="text-center">{{ user.username }}</td>
            <td class="text-center">{{ user.role }}</td>
            <td class="text-center align-middle">
              <button type="button" class="btn btn-warning btn-sm mx-3" (click)="updateUser(user._id)"><i class="bi bi-pencil-square"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user._id)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
