<div class="container mt-5 justify-content-center">
  <!-- <div class="row justify-content-center mb-5">
  </div> -->
  <div class="row p-2 justify-content-center table-responsive">

    <h2 class="text-center user-header">
      <span class="user-title">Gestionar Usuarios</span>

      <div class="container-btn">
        <button class="custom-btn-generate text-white" (click)="generatePDF()">
          Generar PDF <i class="bi bi-filetype-pdf fs-2"></i>
        </button>
      </div>
    </h2>

    <table class="table table-hover table-sm table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th scope="col" class="text-center">Id</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Telefono</th>
          <th scope="col" class="text-center">Usuario</th>
          <th scope="col" class="text-center">Rol</th>
          <th scope="col" class="text-center">Pais</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row" class="text-center">{{ user._id }}</th>
          <td class="text-center">{{ user.name }}</td>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.phoneNumber }}</td>
          <td class="text-center">{{ user.username }}</td>
          <td class="text-center">{{ user.role }}</td>
          <td class="text-center">{{ user.country.name }}</td>
          <td class="text-center align-middle">
            <button type="button" class="btn btn-warning btn-sm mx-3" (click)="editUser(user)"><i
                class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user._id)"><i
                class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal" tabindex="-1" role="dialog" *ngIf="isEditModalOpen" [ngClass]="{'d-block': isEditModalOpen}">
    <div class="modal-dialog modal-dialog-centered modal-dark" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modificar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeEdit()"></button>
        </div>
        <form #userForm="ngForm" *ngIf="editingUser">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nameInput" placeholder="email" [(ngModel)]="editingUser.name"
                #name="ngModel" name="name" required>
              <label class="text-black-50" for="nameInput">Nombre</label>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="alerta text-center" *ngIf="name.errors?.['required']">Por favor,
                  ingresa un nombre</div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="emailInput" placeholder="email" #email="ngModel"
                [(ngModel)]="editingUser.email" name="email" required>
              <label class="text-black-50" for="emailInput">Email</label>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="alerta text-center" *ngIf="email.errors?.['required']">Por favor,
                  ingresa un
                  email</div>
                <div class="alerta text-center" *ngIf="email.errors?.['email']">Por favor, ingresa
                  un
                  email válido</div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="phoneInput" placeholder="phoneNumber" #phoneNumber="ngModel"
                [(ngModel)]="editingUser.phoneNumber" name="phoneNumber" required>
              <label class="text-black-50" for="phoneInput">Teléfono</label>
              <div class="" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                <div class="alerta text-center" *ngIf="phoneNumber.errors?.['required']">Por favor,
                  ingresa un número de teléfono</div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="usernameInput" placeholder="username" #username="ngModel"
                [(ngModel)]="editingUser.username" name="username" required>
              <label class="text-black-50" for="usernameInput">Usuario</label>
              <div class="" *ngIf="username.invalid && (username.dirty || username.touched)">
                <div class="alerta text-center" *ngIf="username.errors?.['required']">Por favor,
                  ingresa
                  un nombre de usuario</div>
              </div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
              <div class="form-check">
                <label class="form-check-label me-2" for="adminRole">Admin</label>
                <input class="form-check-input" type="radio" name="role" id="adminRole" value="admin"
                  [(ngModel)]="editingUser.role" required>
              </div>
              <div class="form-check">
                <label class="form-check-label me-2" for="normalRole">User</label>
                <input class="form-check-input" type="radio" name="role" id="normalRole" value="user"
                  [(ngModel)]="editingUser.role" required>
              </div>
              <div class="form-check">
                <label class="form-check-label me-2" for="gestorRole">Gestor</label>
                <input class="form-check-input" type="radio" name="role" id="gestorRole" value="gestor"
                  [(ngModel)]="editingUser.role" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="selectCountry">Seleccionar País</label>
              <select class="form-select" id="selectCountry" name="selectCountry" [(ngModel)]="selectedCountry" #country="ngModel" required>
                <option value="" disabled selected>Selecciona un país</option>
                <option *ngFor="let c of countries" [value]="c.iso2 + '-' + c.name">{{ c.name }}</option>
              </select>
              <div *ngIf="country.invalid && (country.dirty || country.touched)">
                <div *ngIf="country.errors?.['required']" class="alerta text-center">Por favor, elige un país.</div>
              </div>
            </div>
            
          </div>
          <div class="modal-footer button-user-upload justify-content-center">
            <button type="submit" [disabled]="userForm.invalid" (click)="saveUser()">Modificar</button>
            <button type="button" (click)="closeEdit()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
