/* Container */
.container-custom-1 {
  font-family: sans-serif;
  background-color: black;
  min-height: 100vh;
}

.hr-custom-1 {
  background-color: rgb(72, 235, 72);
  height: 3px;
  opacity: 80%;
}

/* Video Container */
.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Recommended Videos */
.recommended-videos {
  margin-top: 20px;
}

.recommended-videos h3 {
  margin-bottom: 10px;
}

/* Video Card */
.video-card {
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
}

.video-card:hover {
  background-color: rgba(192, 125, 0, 1);
}

/* Video Thumbnail */
.video-thumbnail {
  width: 220px;
  height: 160px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.thumbnail-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 5px;
  z-index: 2;
}

.overlay-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.views {
  font-size: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.views i {
  margin-right: 3px;
}

.duration {
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.video-thumbnail:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.playlist-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.playlist-icon:hover {
  cursor: pointer;
}

/* Video Details */
.video-details {
  flex: 1;
  z-index: 1;
}

.video-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.channel-name {
  font-size: 16px;
}

/* Video Options */

.btn-rating {
  background-color: #212529;
  color: #fff;
}

.btn-rating:focus {
  outline: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.video-options {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.dropdown-toggle {
  color: #fff;
  background-color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
}
.dropdown-toggle:hover {
  background-color: rgb(48, 48, 48);
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
  border-color: rgb(72, 235, 72);
}

.dropdown-menu {
  background-color: rgb(48, 48, 48);
  box-shadow: 0px 0px 5px 3px rgb(59, 59, 59);
  min-width: auto;
  right: 0;
  z-index: 3;
  position: absolute;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: black;
}

/* VIDEO DATA AND DESCRIPTION */
.video-info-custom {
  margin-top: 20px;
}

.video-metadata-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #999;
}

.video-title-custom {
  color: #fff;
}
.video-details-custom {
  display: flex;
  align-items: center;
}

.views-custom {
  margin-left: 0;
}

.upload-date-custom {
  margin-left: 10px;
}

.video-options-custom {
  display: flex;
  align-items: center;
}

/*user*/
.user-info-custom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.user-image-custom {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.user-image-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details-custom {
  flex-grow: 0.1;
}

.user-name-custom {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.user-followers-custom {
  color: #999;
}

.user-actions-custom {
  margin-left: 77.5%;
}

.video-info-description {
  color: #f0f0f0;
  background-color: rgb(59, 59, 59);
}

/* Playlist videos */
.main {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 184, 22);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}

.cargando {
  width: 60px;
  height: 60px;
  background: linear-gradient(#ff8a00 calc(1*100%/6),#fff 0 calc(3*100%/6),#ff8a00 0),
            linear-gradient(#ff8a00 calc(2*100%/6),#fff 0 calc(4*100%/6),#ff8a00 0),
            linear-gradient(#ff8a00 calc(3*100%/6),#fff 0 calc(5*100%/6),#ff8a00 0);
  background-size: 15px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 10vh; /* Establece la altura al 100% de la ventana */
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}