<section>
  <div class="form-box col-11 col-sm-8 col-lg-4 m-5">
    <div class="form-value p-2 col-10">
      <form class="signup-form" action="/signup" method="POST" #signUpForm="ngForm">
        <h2 class="pb-2">Sign Up</h2>
        <div class="inputbox">
          <input type="name" name="name" placeholder=" " id="name" value="" [(ngModel)]="usuario.name" #nombre="ngModel"
            required />
          <label for="name">Nombre completo <i class="bi bi-person"></i></label>
        </div>
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors?.['required']" class="alerta text-center">
            Por favor, ingresa tu nombre completo!
          </div>
        </div>
        <div class="inputbox">
          <input type="name" name="username" placeholder=" " id="username" [(ngModel)]="usuario.username"
            #username="ngModel" required />
          <label for="username">Nombre de usuario <i class="bi bi-person-fill"></i></label>
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <div *ngIf="username.errors?.['required']" class="alerta text-center">
            Por favor, ingresa tu nombre de usuario!
          </div>
        </div>

        <div class="inputbox">
          <input type="tel" name="telefono" placeholder=" " id="telefono" value="" [(ngModel)]="usuario.phoneNumber"
            #telefono="ngModel" required />
          <label for="telefono">Número de teléfono <i class="bi bi-telephone-fill"></i></label>
        </div>
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
          <div *ngIf="telefono.errors?.['required']" class="alerta text-center">
            Por favor, ingresa tu número de teléfono!
          </div>
        </div>

        <div class="inputbox">
          <input type="email" name="email" placeholder=" " id="email" [(ngModel)]="usuario.email" #correo="ngModel"
            required />
          <label for="email">Email <i class="bi bi-envelope"></i></label>
        </div>
        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
          <div *ngIf="correo.errors?.['required']" class="alerta text-center">
            Por favor, ingresa un email!
          </div>
        </div>

        <div class="inputbox">
          <input type="password" name="password" placeholder=" " id="password" value="" [(ngModel)]="usuario.password"
            #password="ngModel" required />
          <label for="password">Contraseña <i class="bi bi-lock-fill"></i></label>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.['required']" class="alerta text-center">
            Por favor, ingresa una contraseña!
          </div>
        </div>
        <!-- <div class="inputbox">
          <input type="password" name="newPsw" placeholder=" " id="newPsw" value="" [(ngModel)]="newPassword"
            #newPsw="ngModel" required />
          <label for="newPsw">Confirmar contraseña <i class="bi bi-lock-fill"></i></label>
        </div>
        <div *ngIf="newPsw.invalid && (newPsw.dirty || newPsw.touched)">
          <div *ngIf="newPsw.errors?.['required']" class="alerta text-center">
            Por favor, ingresa la contraseña!
          </div>
        </div> -->
        <!-- <div class="rolbox">
                    <label for="selectRol">Select Rol</label>
                    <select id="selectRol" name="selectRol">
                        <option value="1">Administrador</option>
                        <option value="2">Gestor</option>
                        <option value="3">Normal</option>
                    </select>
                </div> -->

        <div class="rolbox">
          <label for="selectCountry">Selecciona tu país</label>
          <select id="selectCountry" name="selectCountry" [(ngModel)]="selectedCountry" #country="ngModel" required>
            <option *ngFor="let c of countries" [value]="c.iso2 + '-' + c.name">
              {{ c.name }}
            </option>
          </select>
          <div *ngIf="country.invalid && (country.dirty || country.touched)">
            <div *ngIf="country.errors?.['required']" class="alerta text-center">
              Por favor, elige un país!
            </div>
          </div>
        </div>

        <div class="rolbox" style="display: none;">
          <label for="selectRol">Select Rol</label>
          <select id="selectRol" name="selectRol" [(ngModel)]="usuario.role">
            <option value="admin">Administrador</option>
            <option value="gestor">Gestor</option>
            <option value="user">Normal</option>
          </select>
        </div>

        <input type="hidden" name="_csrf" value="" />
        <button type="submit" class="mb-4" [disabled]="signUpForm.invalid" (click)="signup()">Registrar</button>
        <!-- <div class="register">
                    <p><a class="google" href="/auth/google">Sign up with Google <i class="bi bi-google"></i></a></p>
                    <p><a class="fb" href="/auth/facebook">Sign up with Facebook <i class="bi bi-facebook"></i></a></p>
                </div> -->
      </form>
    </div>
  </div>
</section>