.nav-link{
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
}

.navbar-toggler {
    /* background-color: white; */
    margin-bottom: 4px;
}

.active, .active .nav-link{
    background-color: orange;
    border: 2px;
    border-color: black;
}

.active .nav-link{
    color: white;
}

.notification-cell {
    display: flex;
    align-items: center;
}

.notification-thumbnail {
    margin-right: 10px;
}

.notification-content {
    flex: 1;
}

.notification-thumbnail img {
    max-width: 50px;
    height: auto;
}

  