.nav-link {
  color: white;
}
.notification-link {
  display: flex;
  align-items: center;
  margin-left: 3px; /* Ajusta el margen izquierdo según tu preferencia */
}

.navbar-nav .nav-link:hover {
  background-color: white;
  color: black;
}

.navbar-toggler {
  /* background-color: white; */
  margin-bottom: 4px;
}

.active,
.active .nav-link {
  background-color: orange;
  border: 2px;
  border-color: black;
}

.active .nav-link {
  color: white;
}

.notification-cell {
  display: flex;
  align-items: center;
}

.notification-thumbnail {
  margin-right: 10px;
}

.notification-content {
  flex: 1;
}

.notification-thumbnail img {
  max-width: 50px;
  height: auto;
}

.user .nav-link:hover {
  background-color: none;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.badge {
  margin-left: 4px; /* Ajusta el margen izquierdo según tu preferencia */
}
