<body class="container-fluid">
    <div class="row">

        <!-- Add a new playlist -->
        <div class="col-12 col-sm-6 col-lg-4 p-4" data-bs-toggle="modal" data-bs-target="#newPlaylistModal">
            <div class="cards new-playlist">
                <div class="img-holder">
                    <img src="https://www.gstatic.com/youtube/media/ytm/images/pbg/create-playlist-@210.png"
                        class="image">
                </div>
                <div class="text">
                    <h2>Add a new playlist!</h2>
                    <p>Click on this card to add a new playlist</p>
                </div>
            </div>
        </div>
        <!-- Add a new playlist -->

        <!--  New Playlist Modal  -->
        <div class="modal fade" id="newPlaylistModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="resetModal(playlistForm)">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content p-2">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Playlist</h1>
                    </div>
                    <div class="modal-body">
                        <form #playlistForm="ngForm" method="POST" (submit)="addPlaylist()">
                            <div class="inputbox ">
                                <input type="name" name="name" placeholder=" " id="name" [(ngModel)]="newPlaylist.name"
                                    #name="ngModel" required>
                                <label for="name">Nombre <i class="bi bi-music-note-beamed"></i></label>
                            </div>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                <div *ngIf="name.errors?.['required']" class="alerta text-center">
                                    Please, enter a playlist name!
                                </div>
                            </div>
                            <div class="inputbox ">
                                <input type="text" name="description" placeholder=" " id="description"
                                    [(ngModel)]="newPlaylist.description" #description="ngModel" required>
                                <label for="description">Descripcion <i class="bi bi-music-note-beamed"></i></label>
                            </div>
                            <div *ngIf="description.invalid && (description.dirty || description.touched)">
                                <div *ngIf="description.errors?.['required']" class="alerta text-center">
                                    Please, enter a playlist description!
                                </div>
                            </div>
                            <div class="row text-center mt-4">
                                <div class="col-12 col-sm-6 mb-2"><button type="submit"
                                        [disabled]="playlistForm.invalid" data-bs-dismiss="modal">Add
                                        playlist</button></div>
                                <div class="col-12 col-sm-6"><button type="button"
                                        data-bs-dismiss="modal">Close</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--  New Playlist Modal  -->


        <!-- Show all playlist -->
        <div class="col-12 col-sm-6 col-lg-4 p-4" *ngFor="let playlist of playlists">
            <div class="cards">
                <div class="img-holder">
                    <img src="https://yt3.ggpht.com/yuot-V_LxACsyOGYhDarVl60X90wN1TH6qFPj6xBSFJqJ7YzXzlI6V66jEdHIW5AVoPbbXBi5to=s576"
                        class="image">
                </div>
                <div class="text">
                    <h2>{{playlist.name}}</h2>
                    <p>{{playlist.description}}</p>
                </div>
                <div class="play-icon d-flex justify-content-center align-items-center">
                    <div class="circle" (click)="showPlaylistVideos()">
                        <div class="triangle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Show all playlist -->
    </div>
</body>