.container-fluid{
    min-height: 100vh;
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 5%;
}

.cards{
    background-color: #111;
    border-radius: 0.3rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: auto;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.new-playlist:hover{
    cursor: pointer;
}

.text{
    margin-top: 1rem;
    line-height: 1;
}

.text h2{
    font-size: 1.2rem;
}

.text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
    color: white;
    word-wrap: break-word;
}

.play-icon{
  
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4));
    opacity: 0;
    transition: all 0.4s;
}

.cards:hover .play-icon{
    opacity: 1;
    transform: translateY(0);
}

.cards:hover{
    background-color: rgb(192, 125, 0);
    transform: scale(1.02);
}

.circle{
    width: 100%;
    height: 3.5rem;
    border-radius: 40px;
    background-color: rgb(72, 235, 72);
    display: grid;
    place-items: center;
    transform: scale(0.95);
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;
    transform: rotate(90deg);
    margin-left: 0.2rem;
}

.play-icon:hover .circle{
    cursor: pointer;
}


/* .modal {  
    background-image: url("https://lgbtotaku.files.wordpress.com/2020/08/7da8b16b-c3ad-4f70-966a-e7cf369313b6.jpeg?w=1568");
    background-repeat: no-repeat;
    background-size: cover; 
  } */

.modal-content{
    background-color: #111;
    border-color: orange;
    border-width: 0.1rem;
}

.inputbox{
    position: relative;
    margin: 40px 0px 0px;
    /* width: 310px; */
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label, input:not(:placeholder-shown) ~ label{
top: -10px;
}
.inputbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 5px 0 5px;
    color: #fff;
}
/* Estilo base para el campo de entrada autocompletado */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 1s ease-in-out 0s;
}
/* Estilo cuando el campo de entrada autocompletado está enfocado */
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 1s ease-in-out 0s;
}
/* Estilo cuando el cursor pasa por encima del campo de entrada autocompletado */
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 1s ease-in-out 0s;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
button[disabled]:hover {
    cursor: default;
  }
button:not([disabled]):hover {
    background-color: orange;

}

.alerta {
    color:#fff;
    font-size: 12px;
    margin-top: 2px;
    background-color: red;
    border-radius: 0 0 20px 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}