.container-custom-1 {
  font-family: sans-serif;
  background-color: black;
}

.form-control {
  border-radius: 0px;
}

.btn {
  background-color: orange;
  border-radius: 0px;
}

.btn:hover {
  background-color: rgb(250, 180, 49);
}

.bi {
  color: white;
}

.hr-custom-1 {
  background-color: rgb(72, 235, 72);
  height: 3px;
  opacity: 80%;
}

.video-card {
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
}

.video-card:hover {
  background-color: rgba(192, 125, 0, 1);
}

.video-thumbnail {
  width: 320px;
  height: 200px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.thumbnail-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 5px;
  z-index: 2;
}

.overlay-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.views {
  font-size: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.views i {
  margin-right: 3px;
}

.duration {
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.video-thumbnail:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.playlist-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.playlist-icon:hover {
  cursor: pointer;
}

.video-details {
  flex: 1;
  z-index: 1;
}

.video-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.channel {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.channel:hover {
  cursor: pointer;
}

.channel-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.channel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.channel-name {
  font-size: 16px;
}

.video-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-options {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.dropdown-toggle {
  color: #fff;
  background-color: rgb(48, 48, 48);
}
.dropdown-toggle:hover {
  background-color: rgb(20, 20, 20);
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
  border-color: rgb(72, 235, 72);
}

.dropdown-menu {
  background-color: rgb(48, 48, 48);
  box-shadow: 0px 0px 5px 3px rgb(59, 59, 59);
  min-width: auto;
  right: 0;
  z-index: 3;
  position: absolute;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: black;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 2.5rem;
  width: 30em;
  border-radius: 0.5rem;
}
