<div class="container-fluid contenido">
  <div class="row d-flex justify-content-center container-custom-1">
    <div class="row d-flex justify-content-center">
      <div class="container-fluid col-11 col-md-8 mb-4">
        <form class="d-flex" method="GET" (submit)="searchVideos()">
          <input class="form-control" type="search" placeholder="Qué estas buscando?" aria-label="Search"
            [(ngModel)]="pattern" name="pattern" />
          <button class="btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <div class="col-11 col-md-8">
        <h3 class="text-white">Resultados de búsqueda</h3>
        <hr class="hr-custom-1" />
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-11 col-md-8 container-videos">
        <div class="video-card rounded-4" *ngFor="let video of videos" (mouseenter)="onMouseEnter(video)"
          (mouseleave)="onMouseLeave()">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="m-2">
                <div class="video-thumbnail rounded-4" (click)="watchVideo(video._id)">
                  <img src="assets/img/video-default-image-3.jpg" alt="{{ video.title }}"
                    style="height: 150px; object-fit: cover;" (mouseenter)="zoomInThumbnail($event)"
                    (mouseleave)="zoomOutThumbnail($event)" />
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-10">
                  <div class="video-details p-2">
                    <h2 class="video-title">{{ video.title }}</h2>
                    <div class="channel">
                      <div class="channel-image">
                        <!-- <img src="{{ video.channelImage }}" alt="{{ video.channelName }}"> -->
                        <img src="assets/img/user-default-image-1.jpg" alt="" />
                      </div>
                      <div class="channel-name">
                        {{ video.owner.name }}
                      </div>
                    </div>
                    <div class="video-description">{{ video.description }}</div>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <div class="video-options ms-auto" *ngIf="logged && showOptions && video === selectedVideo">
                    <div class="dropdown dropdown-menu-end">
                      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <button type="button" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#addVideoPlaylistModal" (click)="getVideo(video._id)">
                            Agregar a playlist
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addVideoPlaylistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Mis playlist</h1>
      </div>
      <div class="modal-body">
        <div *ngIf="userPlaylists.length == 0">
          <strong class="text-white">No tienes ninguna playlist!</strong>
        </div>
        <div class="row" *ngIf="userPlaylists.length > 0">
          <div class="col-12 playlists mb-2" *ngFor="let playlist of userPlaylists"
            (click)="addVideoToPlaylist(playlist._id)">
            <strong>Nombre: </strong>{{ playlist.name }}
            <br />
            <strong>Descripción: </strong>{{ playlist.description }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>