<div class="container my-3">
  <div class="row">
    <div class="col-12 col-md-6 my-5" *ngIf="stats1">
      <div class="row">
        <h2 class="text-center">Videos por Usuario</h2>
      </div>
      <apx-chart [series]="stats1.series" [chart]="stats1.chart" [plotOptions]="stats1.plotOptions"></apx-chart>
    </div>
    <div class="col-12 col-md-6 my-5" *ngIf="stats2">
      <div class="row">
        <h2 class="text-center">Videos con Grupo</h2>
      </div>
      <apx-chart [series]="stats2.series" [chart]="stats2.chart" [labels]="stats2.labels"
        [responsive]="stats2.responsive"></apx-chart>
    </div>
    <div class="col-12 col-md-6 my-5" *ngIf="stats3">
      <div class="row">
        <h2 class="text-center">Videos Subidos por Fecha</h2>
      </div>
      <apx-chart [series]="stats3.series" [chart]="stats3.chart" [yaxis]="stats3.yaxis"
        [xaxis]="stats3.xaxis"></apx-chart>
    </div>
    <div class="col-12 col-md-6 my-5" *ngIf="stats4">
      <div class="row">
        <h2 class="text-center">Videos por Pais</h2>
      </div>
      <apx-chart [series]="stats4.series" [chart]="stats4.chart" [yaxis]="stats4.yaxis"
        [xaxis]="stats4.xaxis"></apx-chart>
    </div>
  </div>
</div>