<div class="container">
    <div class="row">
        <div class="col-6" *ngIf="stats1">
            <apx-chart [series]="stats1.series" [chart]="stats1.chart" [plotOptions]="stats1.plotOptions"
                [xaxis]="stats1.xaxis" [yaxis]="stats1.yaxis">
            </apx-chart>
        </div>
        <div class="col-6" *ngIf="stats2">
            <apx-chart [series]="stats2.series" [chart]="stats2.chart" [labels]="stats2.labels"
                [responsive]="stats2.responsive"></apx-chart>
        </div>
    </div>
</div>