.form-box {
  background: black;
  border: 2px solid orange;
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

.hr-custom-1 {
  background-color: rgb(72, 235, 72);
  height: 3px;
  opacity: 80%;
}

.inputbox {
  position: relative;
  margin: 40px 0px 0px;
  /* width: 310px; */
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:not(:placeholder-shown)~label {
  top: -10px;
}

.inputbox input,
.inputbox textarea {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 5px;
  color: #fff;
}


/* Estilo base para el campo de entrada autocompletado */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 1s ease-in-out 0s;
}
/* Estilo cuando el campo de entrada autocompletado está enfocado */
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 1s ease-in-out 0s;
}
/* Estilo cuando el cursor pasa por encima del campo de entrada autocompletado */
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 1s ease-in-out 0s;
}




.alerta {
  color: #fff;
  font-size: 12px;
  margin-top: 2px;
  background-color: red;
  border-radius: 0 0 20px 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.button-video-upload button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-top: 40px;
}

.button-video-upload button[disabled]:hover {
  cursor: default;
}

.button-video-upload button:not([disabled]):hover {
  background-color: orange;
}