<div class="container mt-5 d-flex justify-content-center">
    <div class="row p-2 d-flex justify-content-center form-box">
        <div class="row p-3 pb-0">
            <h3 class="text-white">Subir Video</h3>
            <hr class="hr-custom-1">
        </div>
        <form (submit)="postVideo()" #videoForm="ngForm">
            <div class="input-group mt-3">
                <input type="file" class="form-control" id="videoFile" name="videoFile"  required
                  accept="video/*" (change)="onFileSelected($event)">
                <label class="input-group-text" for="videoFile">Upload</label>
            </div>
            <div *ngIf="msgVideoValidation">
                <div class="alerta text-center">
                  {{ msgVideoValidation }}
                </div>
            </div>
            <div class="inputbox">
                <input type="text" id="title" name="title" placeholder=""
                    [(ngModel)]="video.title" #title="ngModel" required>
                <label for="title">Title <i class="bi bi-music-note-beamed"></i> </label>
            </div>
            <div class="" *ngIf="title.invalid && (title.dirty || title.touched)">
                <div *ngIf="title.errors?.['required']" class="alerta text-center">
                    Please enter a title!
                </div>
            </div>

            <div class="form-floating mt-3">
                <textarea class="form-control" name="description" placeholder="Leave a comment here" id="description"
                    [(ngModel)]="video.description" #description="ngModel" required></textarea>
                <label class="text-black-50" for="description">Description</label>
            </div>
            <div class="" *ngIf="description.invalid && (description.dirty || description.touched)">
                <div *ngIf="description.errors?.['required']" class="alerta text-center">
                    Please enter a description!
                </div>
            </div>

            <div class="row mt-3 button-video-upload">
                <input type="hidden" name="_csrf" value="">
                <button type="submit" [disabled]="videoForm.invalid || !isValidVideo(video.file)">Upload Video</button>
            </div>
        </form>
    </div>
</div>