<div class="container mt-5 justify-content-center">
    <div class="row g-5 justify-content-center">
        <div class="col-4">
            <form class="form form-box p-3" method="POST" #groupForm="ngForm" (submit)="postGroup()">
                <h2 class="row h2 d-flex justify-content-center">Register Group</h2>
                <div class="form-floating mt-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="example123" required
                        [(ngModel)]="group.name" #groupName="ngModel">
                    <label class="text-black-50" for="name">Group Name</label>
                </div>
                <!-- <div class="" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors?.['required']" class="alerta text-center">
                        Please enter a name!
                    </div>
                </div> -->

                <div class="form-floating mt-3">
                    <input type="text" class="form-control" id="description" name="description"
                        placeholder="Leave a comment here" [(ngModel)]="group.description" #groupDescription="ngModel"
                        required>
                    <label class="text-black-50" for="description">Group Description</label>
                </div>
                <!-- <div class="" *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div *ngIf="description.errors?.['required']" class="alerta text-center">
                        Please enter a description!
                    </div>
                </div> -->

                <div class="row mt-3 button-group-upload">
                    <input type="hidden" name="_csrf" value="">
                    <button type="submit">Register Group</button>
                </div>
            </form>
        </div>
        <!--         
        <div class="col-8">
            <h2 class="row h2 d-flex justify-content-center">Groups</h2>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Group-1</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td class="text-center">
                            <div class="dropdown-center">
                                <button class="btn btn-secondary btn-sm dropdown-toggle ps-5 pe-5 w-100" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    View video
                                </button>
                                <ul class="dropdown-menu w-100">
                                    <li><a class="dropdown-item" href="">Video1</a></li>
                                    <li><a class="dropdown-item" href="">Video2</a></li>
                                    <li><a class="dropdown-item" href="">Video3</a></li>
                                    <li><a class="dropdown-item" href="">
                                            <span>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates,
                                                delectus ab corporis ipsam ipsa odit voluptatibus dolore reprehenderit
                                                pariatur illo.
                                            </span>
                                        </a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-sm">
                                View PlayList
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <div class="form-check mt-3">
                           
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                                name="sendNotification" [(ngModel)]="group.sendNotification"
                                #groupsendNotification="ngModel"
                                (ngModelChange)="sendNotifications(group.sendNotification,'grupoId')">
                            <label class="btn btn-outline-warning" for="btn-check-outlined">
                                <i class="bi bi-bell"></i>
                            </label>
                            <label class="form-check-label ps-1" for="btn-check-outlined">
                                Recibir notificaciones?
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input type="checkbox" class="btn-check" id="btn-check-email-outlined" autocomplete="off"
                                name="sendEmailNotification" name="sendEmailNotification"
                                [(ngModel)]="group.sendEmailNotification" #groupsendEmailNotification="ngModel"
                                (ngModelChange)="sendEmailNotifications(group.sendEmailNotification, 'grupoId')">
                            <label class="btn btn-outline-info" for="btn-check-email-outlined">
                                <i class="bi bi-envelope-at"></i>
                            </label>
                            <label class="form-check-label ps-1" for="btn-check-email-outlined">
                                Recibir notificaciones al correo?
                            </label>

                        </div>
                    </tr>
                </tbody>
            </table>
        </div> -->

        <div class="container-fluid col-12">
            <h2>MIS GRUPOS</h2>
            <div class="row">
                <div class="grupos col-12">
                    <div class="row">
                        <!-- Show groups -->
                        <div class="col-12 col-sm-6 col-lg-4 p-4" *ngFor="let group of myGroups">
                            <div class="cards">
                                <div class="img-holder">
                                    <img src="https://p4.wallpaperbetter.com/wallpaper/639/159/622/soccer-fc-barcelona-logo-wallpaper-preview.jpg"
                                        class="image">
                                </div>
                                <div class="text text-center">
                                    <h2 class="text-white">{{group.name}}</h2>
                                </div>
                                <div class="text text-center">
                                    <p class="text-white">{{group.description}}</p>
                                </div>
                                <div class="dropdown-center">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle ps-5 pe-5 w-100"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        View video
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="">Video1</a></li>
                                        <li><a class="dropdown-item" href="">Video2</a></li>
                                        <li><a class="dropdown-item" href="">Video3</a></li>
                                        <li><a class="dropdown-item" href="">
                                                <span>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Voluptates,
                                                    delectus ab corporis ipsam ipsa odit voluptatibus dolore
                                                    reprehenderit
                                                    pariatur illo.
                                                </span>
                                            </a></li>
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-center mb-2">
                                    <div class="form-check mt-3 me-3">
                                        <div class="custom-tooltip">
                                            <input type="checkbox" class="btn-check" id="btn-check-outlined"
                                                autocomplete="off" name="sendNotification"
                                                [(ngModel)]="group.sendNotification" #groupsendNotification="ngModel"
                                                (ngModelChange)="sendNotifications(group.sendNotification,'grupoId')">
                                            <label class="btn btn-outline-warning" for="btn-check-outlined">
                                                <i class="bi bi-bell"></i>
                                            </label>
                                            <div class="tooltip-text">Recibir notificaciones?</div>
                                        </div>
                                    </div>
                                    <div class="form-check mt-3">
                                        <div class="custom-tooltip">
                                            <input type="checkbox" class="btn-check" id="btn-check-email-outlined"
                                                autocomplete="off" name="sendEmailNotification"
                                                name="sendEmailNotification" [(ngModel)]="group.sendEmailNotification"
                                                #groupsendEmailNotification="ngModel"
                                                (ngModelChange)="sendEmailNotifications(group.sendEmailNotification, 'grupoId')">
                                            <label class="btn btn-outline-info" for="btn-check-email-outlined">
                                                <i class="bi bi-envelope-at"></i>
                                            </label>
                                            <div class="tooltip-text">Recibir notificaciones al correo?</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="play-icon d-flex justify-content-center align-items-center">
                                    <div class="circle text-center">
                                        <p class="m-0 p-0"><b>Ver Lista de Reproduccion</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Show groups -->
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>