<div class="container mt-5 d-flex justify-content-center">
    <div class="row p-2 d-flex justify-content-center">
        <form class="form col-12 form-box p-3" method="POST">
            <h2 class="row h2 d-flex justify-content-center">Register Group</h2>
            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="example123" required>
                <label class="text-black-50" for="name">Group Name</label>
            </div>
            <!-- <div class="" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.['required']" class="alerta text-center">
                    Please enter a name!
                </div>
            </div> -->

            <div class="form-floating mt-3">
                <textarea class="form-control" name="description" placeholder="Leave a comment here" id="description"
                    required></textarea>
                <label class="text-black-50" for="description">Group Description</label>
            </div>
            <!-- <div class="" *ngIf="description.invalid && (description.dirty || description.touched)">
                <div *ngIf="description.errors?.['required']" class="alerta text-center">
                    Please enter a description!
                </div>
            </div> -->
            <div class="form-check mt-3">
                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-warning" for="btn-check-outlined">
                    <i class="bi bi-bell"></i>
                </label>
                <label class="form-check-label ps-1" for="btn-check-outlined">Do you want to receive notifications?</label>
            </div>
            <div class="row mt-3 button-group-upload">
                <input type="hidden" name="_csrf" value="">
                <button type="submit">Register Group</button>
            </div>
        </form>
    </div>
</div>