<section>
    <div class="form-box">
        <div class="form-value">
            <form class="login-form" action="/login" method="POST">
                <h2 class="pb-2">Login</h2>
                <div class="inputbox">
                    <input type="email" name="email" placeholder=" " id="email" required>
                    <label for="email">Email <i class="bi bi-envelope"></i></label>
                </div>
                <div class="inputbox">
                    <input type="password" name="password" placeholder=" " id="password" value="" required>
                    <label for="password">Password <i class="bi bi-lock-fill"></i></label>
                </div>
                <input type="hidden" name="_csrf" value="">
                <button type="submit">Log in</button>
                <div class="register">
                    <p><a href="/reset-password">Forgot your password?</a></p>
                    <p>Don't have an account? <a [routerLink]="['/signup']">Sign up!</a></p>
                    <hr class="mt-1 mb-1">
                    <p><a class="google" href="/auth/google">Log in with Google <i class="bi bi-google"></i></a></p>
                    <p><a class="fb" href="/auth/facebook">Log in with Facebook <i class="bi bi-facebook"></i></a></p>
                </div>
            </form>
        </div>
    </div>
</section>