.container-fluid{
  min-height: 100vh;
  background-color: black;
  padding: 5% 10% 5% 10%;
}

.hr-custom-1 {
  background-color: rgb(72, 235, 72);
  height: 3px;
  opacity: 80%;
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.video-card {
  margin-bottom: 20px;
}

.video-card img {
  width: 100%;
  height: auto;
}

.video-card .card-body {
  padding: 10px;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px; /* Añadimos un margen derecho para separar el nombre de la imagen */
}

.userFlag {
  width: 75px;
  height: auto;
  margin-left: 10px; /* Añadimos un margen izquierdo para separar la bandera del nombre */
}

.ms-auto {
  margin-left: auto; /* Mueve el botón "Administrar mis grupos" a la derecha */
}