<div class="container mt-5 justify-content-center">
  <div class="row p-2 justify-content-center">
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">Id video</th>
          <th scope="col" class="text-center">Title video</th>
          <th scope="col" class="text-center">Owner</th>
          <th scope="col" class="text-center">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videos">
          <th scope="row" class="text-center">{{ video._id }}</th>
          <td class="text-center">{{ video.title }}</td>
          <td class="text-center">{{ video.owner.name }}</td>
          <td class="text-center align-middle">
            <button type="button" class="btn btn-warning btn-sm mx-3" (click)="updateVideo(video._id)">Editar</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteVideo(video._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>