<div class="container-fluid content">
    <div class="row p-4">
        <div class="container-fluid col-12">
            <form class="d-flex" method="GET" (submit)="searchGroups()">
                <input class="form-control" type="search" placeholder="Qué estas buscando?" aria-label="Search"
                    [(ngModel)]="pattern" name="pattern">
                <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div class="container-fluid col-12">
            <div class="row">
                <div class="grupos col-12">
                    <div class="row">
                        <!-- Add a new group -->
                        <div class="col-12 col-sm-6 col-lg-4 p-4" [routerLink]="['/groups']">
                            <div class="cards new-playlist">
                                <div class="img-holder">
                                    <img src="https://www.gstatic.com/youtube/media/ytm/images/pbg/create-playlist-@210.png"
                                        class="image">
                                </div>
                                <div class="text">
                                    <h2 class="text-white">Crea un nuevo grupo!</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Add a new group -->
                        <!-- Show all groups -->
                        <div class="col-12 col-sm-6 col-lg-4 p-4" *ngFor="let group of groups">
                            <div class="cards">
                                <div class="img-holder">
                                    <img src="https://png.pngtree.com/png-vector/20191009/ourlarge/pngtree-group-icon-png-image_1796653.jpg"
                                        class="image">
                                </div>
                                <div class="text text-center">
                                    <h2 class="text-white">{{group.name}}</h2>
                                </div>
                                <div class="play-icon d-flex justify-content-center align-items-center">
                                    <div class="circle text-center" (click)="requestJoin(group._id)">
                                        <p class="m-0 p-0" *ngIf="!group.isUserJoined"><b>UNIRSE</b></p>
                                        <p class="m-0 p-0" *ngIf="group.isUserJoined"><b>YA UNIDO</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Show all groups -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>