<div class="container-fluid content">
    <div class="row p-4">
        <div class="container-fluid col-12">
            <form class="d-flex" method="GET" (submit)="searchGroups()">
                <input class="form-control" type="search" placeholder="Qué estas buscando?" aria-label="Search"
                    [(ngModel)]="pattern" name="pattern">
                <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div class="container-fluid col-12">
            <div class="row">
                <div class="grupos col-12">
                    <div class="row">
                        <!-- Show all groups -->
                        <div class="col-12 col-sm-6 col-lg-4 p-4" *ngFor="let group of groups">
                            <div class="cards">
                                <div class="img-holder">
                                    <img src="https://p4.wallpaperbetter.com/wallpaper/639/159/622/soccer-fc-barcelona-logo-wallpaper-preview.jpg"
                                        class="image">
                                </div>
                                <div class="text text-center">
                                    <h2 class="text-white">{{group.name}}</h2>
                                </div>
                                <div class="play-icon d-flex justify-content-center align-items-center">
                                    <div class="circle text-center" (click)="requestJoin(group._id)">
                                        <p class="m-0 p-0"><b>SOLICITAR UNIRSE</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Show all groups -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>