.content{
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    min-height: 100vh;
}

.form-control{
    border-radius: 0px;
}

.btn{
    background-color: orange;
    border-radius: 0px;
}

.btn:hover{
    background-color: rgb(250, 180, 49);
}

.bi{
    color: white;
}

.cards{
    background-color: #111;
    border-radius: 0.3rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: auto;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.new-playlist:hover{
    cursor: pointer;
}

.text{
    margin-top: 1rem;
    line-height: 1;
}

.text h2{
    font-size: 1.2rem;
}

.text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
    color: white;
    word-wrap: break-word;
}

.play-icon{
  
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4));
    opacity: 0;
    transition: all 0.4s;
}

.cards:hover .play-icon{
    opacity: 1;
    transform: translateY(0);
}

.cards:hover{
    background-color: rgb(192, 125, 0);
    transform: scale(1.02);
}

.circle{
    width: 100%;
    height: 3.5rem;
    border-radius: 40px;
    background-color: rgb(72, 235, 72);
    display: grid;
    place-items: center;
    transform: scale(0.95);
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;
    margin-left: 0.2rem;
}

.play-icon:hover .circle{
    cursor: pointer;
}
